@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
*{
    margin: 0;
    padding: 0;
    
}


body{
    background-image: linear-gradient(to right, rgb(34, 34, 49), rgb(5, 47, 75) );
}

.cabeca > img{
    width: 100%;
    height: 250px;
}
section{
    width: 800px;
    margin: auto;
}
fieldset{
    margin: auto;
    width: 350px;
    height: 400px;
    color: white;
}
h1{
    text-align: center;
    margin: 20px;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 10;
    color: rgb(255, 151, 32);
}
label{
    width: 45px;
    padding: 0px 10px;
    margin: 0px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    

}
input{
    margin: 5px;        
    width: 200px;
    height: 30px;
    border-radius: 10px;
       
    
}
.botao{
   margin: 10px;
   text-align: center;
  
  
    
    
}
.enviar{ 
    align-items: center;
    padding: 20px; 
    color: white;
    background-color: rgb(255, 151, 32);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
    font-size: 20px;
    
    
}

